main{
    .slider-box-1{
        width: 100%;
        height: auto;
        margin: auto;
        overflow: hidden;
        background-color: $color-secundario;
        .slide-track{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 12.5rem;
            animation: scroll 90s linear infinite ease-in-out;
            -webkit-animation: scroll 90s linear infinite;
            width: calc(500px * 8);
            .texto-carrusel{
                width: 500px;
                h3{
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }
                p{
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}

@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-500px * 4));
        transform: translateX(calc(-500px * 4));
    }
}